## .NET
bin/
obj/
out/
*.user
*.suo
*.userosscache
*.sln.docstates

## Logs
logs/
*.log

## Rider / VS / VS Code
.vs/
.vscode/
.idea/
*.DotSettings.user

## OS
.DS_Store
Thumbs.db

## Secrets
appsettings.*.local.json
secrets.json
